In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [3]:
df= pd.read_csv("laptopPrice.csv")

In [4]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [6]:
df.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

In [7]:
df.isnull()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
819,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
820,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
821,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
822,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

brand                0
processor_brand      0
processor_name       0
processor_gnrtn      0
ram_gb               0
ram_type             0
ssd                  0
hdd                  0
os                   0
os_bit               0
graphic_card_gb      0
weight               0
warranty             0
Touchscreen          0
msoffice             0
Price                0
rating               0
Number of Ratings    0
Number of Reviews    0
dtype: int64

In [9]:
df["brand"].unique()

array(['ASUS', 'Lenovo', 'acer', 'Avita', 'HP', 'DELL', 'MSI', 'APPLE'],
      dtype=object)

In [10]:
df.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

In [11]:
dct = {
    'ASUS':1, 'Lenovo':2, 'acer':3, 'Avita':4, 'HP':5, 
    'DELL':6, 'MSI':7, 'APPLE':8
}

In [12]:
dct

{'ASUS': 1,
 'Lenovo': 2,
 'acer': 3,
 'Avita': 4,
 'HP': 5,
 'DELL': 6,
 'MSI': 7,
 'APPLE': 8}

In [13]:
df["brand"]=df["brand"].map(dct)

In [14]:
df["brand"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [15]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,1,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,1,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,1,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,1,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,1,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,1,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,1,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,2,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [16]:
import sklearn 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [17]:
obj = LabelEncoder()
df["brand"] = obj.fit_transform(df["brand"])
df["processor_brand"] = obj.fit_transform(df["processor_brand"])
df["processor_name"] = obj.fit_transform(df["processor_name"])
df["processor_gnrtn"] = obj.fit_transform(df["processor_gnrtn"])
df["ram_type"] = obj.fit_transform(df["ram_type"])
df["ssd"] = obj.fit_transform(df["ssd"])
df["hdd"] = obj.fit_transform(df["hdd"])
df["os"] = obj.fit_transform(df["os"])
df["os_bit"] = obj.fit_transform(df["os_bit"])
df["ram_gb"]  = obj.fit_transform(df["ram_gb"])

In [18]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,1,1,1,0,2,1,0,1,2,1,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,1,1,1,0,2,1,0,1,2,1,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,1,2,0,3,1,6,0,2,0,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,1,0,7,2,1,0,3,2,1,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,0,0,10,7,2,1,1,0,2,1,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,0,0,10,7,2,1,1,0,2,1,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,0,0,10,7,2,1,1,0,2,1,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,1,0,8,0,3,1,6,0,0,1,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [19]:
df.isnull().sum()

brand                0
processor_brand      0
processor_name       0
processor_gnrtn      0
ram_gb               0
ram_type             0
ssd                  0
hdd                  0
os                   0
os_bit               0
graphic_card_gb      0
weight               0
warranty             0
Touchscreen          0
msoffice             0
Price                0
rating               0
Number of Ratings    0
Number of Reviews    0
dtype: int64

In [20]:
df.duplicated().sum(
    
)

np.int64(21)

In [21]:
df.drop_duplicates(inplace=True)

In [22]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
818    False
819    False
820    False
821    False
822    False
Length: 802, dtype: bool

In [23]:
df.duplicated().sum()

np.int64(0)

In [24]:
df.to_csv("laptopPrice_cleaned.csv")

In [25]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,1,1,1,0,2,1,0,1,2,1,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,1,1,1,0,2,1,0,1,2,1,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,1,2,0,3,1,6,0,2,0,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,1,0,7,2,1,0,3,2,1,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,0,0,10,7,2,1,1,0,2,1,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,0,0,10,7,2,1,1,0,2,1,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,0,0,10,7,2,1,1,0,2,1,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,1,0,8,0,3,1,6,0,0,1,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [26]:
df["weight"] = obj.fit_transform(df["weight"])
df["Touchscreen"] = obj.fit_transform(df["Touchscreen"])
df["warranty"] = obj.fit_transform(df["warranty"])
df["msoffice"] = obj.fit_transform(df["msoffice"])
df["rating"] = obj.fit_transform(df["rating"])

In [27]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,34649,1,3,0
1,1,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,38999,2,65,5
2,1,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,39999,2,8,1
3,0,1,2,0,3,1,6,0,2,0,2 GB,0,3,0,0,69990,2,0,0
4,0,1,0,7,2,1,0,3,2,1,0 GB,0,3,0,0,26990,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0 GB,0,0,0,0,135990,2,0,0
819,0,0,10,7,2,1,1,0,2,1,0 GB,0,0,0,0,144990,2,0,0
820,0,0,10,7,2,1,1,0,2,1,4 GB,0,0,0,0,149990,2,0,0
821,0,0,10,7,2,1,1,0,2,1,4 GB,0,0,0,0,142990,2,0,0
822,1,0,8,0,3,1,6,0,0,1,0 GB,2,3,0,0,57490,3,18,4

In [28]:
df.to_csv("laptopPrice_final_cleaned.csv")

In [29]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,34649,1,3,0
1,1,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,38999,2,65,5
2,1,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,39999,2,8,1
3,0,1,2,0,3,1,6,0,2,0,2 GB,0,3,0,0,69990,2,0,0
4,0,1,0,7,2,1,0,3,2,1,0 GB,0,3,0,0,26990,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0 GB,0,0,0,0,135990,2,0,0
819,0,0,10,7,2,1,1,0,2,1,0 GB,0,0,0,0,144990,2,0,0
820,0,0,10,7,2,1,1,0,2,1,4 GB,0,0,0,0,149990,2,0,0
821,0,0,10,7,2,1,1,0,2,1,4 GB,0,0,0,0,142990,2,0,0
822,1,0,8,0,3,1,6,0,0,1,0 GB,2,3,0,0,57490,3,18,4

In [30]:
import sklearn 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [31]:
df.isnull().sum()

brand                0
processor_brand      0
processor_name       0
processor_gnrtn      0
ram_gb               0
ram_type             0
ssd                  0
hdd                  0
os                   0
os_bit               0
graphic_card_gb      0
weight               0
warranty             0
Touchscreen          0
msoffice             0
Price                0
rating               0
Number of Ratings    0
Number of Reviews    0
dtype: int64

In [32]:
x =df.drop('Price', axis=1) 
y =df[['Price']]

In [33]:
x

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,1,3,0
1,1,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,2,65,5
2,1,1,1,0,2,1,0,1,2,1,0 GB,0,3,0,0,2,8,1
3,0,1,2,0,3,1,6,0,2,0,2 GB,0,3,0,0,2,0,0
4,0,1,0,7,2,1,0,3,2,1,0 GB,0,3,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0 GB,0,0,0,0,2,0,0
819,0,0,10,7,2,1,1,0,2,1,0 GB,0,0,0,0,2,0,0
820,0,0,10,7,2,1,1,0,2,1,4 GB,0,0,0,0,2,0,0
821,0,0,10,7,2,1,1,0,2,1,4 GB,0,0,0,0,2,0,0
822,1,0,8,0,3,1,6,0,0,1,0 GB,2,3,0,0,3,18,4

In [34]:
y

      Price
0     34649
1     38999
2     39999
3     69990
4     26990
..      ...
818  135990
819  144990
820  149990
821  142990
822   57490

[802 rows x 1 columns]

In [35]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [36]:
x_train.shape ,y_train.shape, x_test.shape, y_test.shape

((641, 18), (641, 1), (161, 18), (161, 1))

In [37]:
x_train

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
371,5,1,2,1,3,1,6,0,2,1,2 GB,0,3,0,0,2,0,0
444,2,1,2,1,3,1,4,1,2,1,0 GB,0,0,0,0,3,32,1
78,1,1,1,0,2,1,4,0,2,0,0 GB,0,3,0,0,4,1,1
66,0,1,1,1,2,1,4,0,2,1,0 GB,0,0,0,0,3,181,19
743,0,0,9,7,3,1,6,0,2,1,4 GB,0,3,0,0,3,1810,235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,1,0,9,7,2,1,1,0,2,1,6 GB,0,0,0,1,2,0,0
196,2,1,2,7,3,2,0,3,2,0,4 GB,0,3,0,0,3,10966,1185
650,5,0,7,7,2,1,6,0,2,1,0 GB,2,3,0,0,2,0,0
575,2,1,3,0,0,1,3,0,2,1,8 GB,0,0,0,0,2,4,0
705,0,0,8,7,2,5,6,0,2,1,0 GB,0,3,1,0,2,0,0

In [38]:
y_train

      Price
371   71290
444   57990
78    40990
66    39990
743   71990
..      ...
784  130990
196   50990
650   40590
575  159990
705   91990

[641 rows x 1 columns]

In [39]:
x_test

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
8,1,1,2,0,2,1,0,1,2,0,0 GB,0,3,0,0,2,0,0
257,2,1,2,1,3,5,6,0,2,1,0 GB,2,0,0,1,3,17,1
87,4,1,1,1,3,1,6,0,2,1,0 GB,2,0,0,1,3,158,18
432,0,1,2,0,3,1,0,1,2,1,2 GB,0,3,0,0,2,0,0
15,4,1,1,1,3,1,4,0,2,1,0 GB,0,0,1,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,5,1,1,1,3,1,4,0,2,1,0 GB,2,3,0,0,3,216,21
214,1,1,2,1,3,1,4,0,2,1,0 GB,0,0,0,1,1,4,0
724,4,0,8,7,0,1,6,0,2,1,0 GB,2,0,0,1,3,19,1
317,1,1,2,1,3,1,6,0,2,0,2 GB,0,0,0,1,3,11,3
206,1,1,2,1,3,1,4,0,2,1,0 GB,0,1,0,1,3,365,35

In [40]:
y_test

     Price
8    49999
257  60990
87   42990
432  83990
15   56490
..     ...
50   41990
214  61999
724  59999
317  70990
206  49490

[161 rows x 1 columns]

In [41]:
# from sklearn.svm import SVC ,SVR
# sv = SVC()
# sv.fit(x_train, y_train)

In [42]:
df["graphic_card_gb"] = obj.fit_transform(df["graphic_card_gb"])

In [43]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0,0,3,0,0,34649,1,3,0
1,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,38999,2,65,5
2,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,39999,2,8,1
3,0,1,2,0,3,1,6,0,2,0,1,0,3,0,0,69990,2,0,0
4,0,1,0,7,2,1,0,3,2,1,0,0,3,0,0,26990,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,135990,2,0,0
819,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,144990,2,0,0
820,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,149990,2,0,0
821,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,142990,2,0,0
822,1,0,8,0,3,1,6,0,0,1,0,2,3,0,0,57490,3,18,4

In [44]:
df.to_csv("laptopPrice_ok_cleaned.csv")

In [45]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0,0,3,0,0,34649,1,3,0
1,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,38999,2,65,5
2,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,39999,2,8,1
3,0,1,2,0,3,1,6,0,2,0,1,0,3,0,0,69990,2,0,0
4,0,1,0,7,2,1,0,3,2,1,0,0,3,0,0,26990,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,135990,2,0,0
819,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,144990,2,0,0
820,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,149990,2,0,0
821,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,142990,2,0,0
822,1,0,8,0,3,1,6,0,0,1,0,2,3,0,0,57490,3,18,4

In [46]:
x =df.drop('Price', axis=1) 
y =df[['Price']]

In [47]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0,0,3,0,0,34649,1,3,0
1,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,38999,2,65,5
2,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,39999,2,8,1
3,0,1,2,0,3,1,6,0,2,0,1,0,3,0,0,69990,2,0,0
4,0,1,0,7,2,1,0,3,2,1,0,0,3,0,0,26990,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,135990,2,0,0
819,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,144990,2,0,0
820,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,149990,2,0,0
821,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,142990,2,0,0
822,1,0,8,0,3,1,6,0,0,1,0,2,3,0,0,57490,3,18,4

In [48]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [49]:
x_test , y_test , x_train , y_train

(     brand  processor_brand  processor_name  processor_gnrtn  ram_gb  \
 8        1                1               2                0       2
 257      2                1               2                1       3
 87       4                1               1                1       3
 432      0                1               2                0       3
 15       4                1               1                1       3
 ..     ...              ...             ...              ...     ...
 50       5                1               1                1       3
 214      1                1               2                1       3
 724      4                0               8                7       0
 317      1                1               2                1       3
 206      1                1               2                1       3

      ram_type  ssd  hdd  os  os_bit  graphic_card_gb  weight  warranty  \
 8           1    0    1   2       0                0       0         3
 257         5    6    0   2       1                0       2         0
 87          1    6    0   2       1                0       2         0
 432         1    0    1   2       1                1       0         3
 15          1    4    0   2       1                0       0         0
 ..        ...  ...  ...  ..     ...              ...     ...       ...
 50          1    4    0   2       1                0       2         3
 214         1    4    0   2       1                0       0         0
 724         1    6    0   2       1                0       2         0
 317         1    6    0   2       0                1       0         0
 206         1    4    0   2       1                0       0         1

      Touchscreen  msoffice  rating  Number of Ratings  Number of Reviews
 8              0         0       2                  0                  0
 257            0         1       3                 17                  1
 87             0         1       3                158                 18
 432            0         0       2                  0                  0
 15             1         0       2                  0                  0
 ..           ...       ...     ...                ...                ...
 50             0         0       3                216                 21
 214            0         1       1                  4                  0
 724            0         1       3                 19                  1
 317            0         1       3                 11                  3
 206            0         1       3                365                 35

 [161 rows x 18 columns],
      Price
 8    49999
 257  60990
 87   42990
 432  83990
 15   56490
 ..     ...
 50   41990
 214  61999
 724  59999
 317  70990
 206  49490

 [161 rows x 1 columns],
      brand  processor_brand  processor_name  processor_gnrtn  ram_gb  \
 371      5                1               2                1       3
 444      2                1               2                1       3
 78       1                1               1                0       2
 66       0                1               1                1       2
 743      0                0               9                7       3
 ..     ...              ...             ...              ...     ...
 784      1                0               9                7       2
 196      2                1               2                7       3
 650      5                0               7                7       2
 575      2                1               3                0       0
 705      0                0               8                7       2

      ram_type  ssd  hdd  os  os_bit  graphic_card_gb  weight  warranty  \
 371         1    6    0   2       1                1       0         3
 444         1    4    1   2       1                0       0         0
 78          1    4    0   2       0                0       0         3
 66          1    4    0   2       1                0       0         0
 743         1    6    0   2       1                2       0         3
 ..        ...  ...  ...  ..     ...              ...     ...       ...
 784         1    1    0   2       1                3       0         0
 196         2    0    3   2       0                2       0         3
 650         1    6    0   2       1                0       2         3
 575         1    3    0   2       1                4       0         0
 705         5    6    0   2       1                0       0         3

      Touchscreen  msoffice  rating  Number of Ratings  Number of Reviews
 371            0         0       2                  0                  0
 444            0         0       3                 32                  1
 78             0         0       4                  1                  1
 66             0         0       3                181                 19
 743            0         0       3               1810                235
 ..           ...       ...     ...                ...                ...
 784            0         1       2                  0                  0
 196            0         0       3              10966               1185
 650            0         0       2                  0                  0
 575            0         0       2                  4                  0
 705            1         0       2                  0                  0

 [641 rows x 18 columns],
       Price
 371   71290
 444   57990
 78    40990
 66    39990
 743   71990
 ..      ...
 784  130990
 196   50990
 650   40590
 575  159990
 705   91990

 [641 rows x 1 columns])

In [50]:
x

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Number of Ratings,Number of Reviews
0,0,1,1,0,2,1,0,1,2,1,0,0,3,0,0,1,3,0
1,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,2,65,5
2,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,2,8,1
3,0,1,2,0,3,1,6,0,2,0,1,0,3,0,0,2,0,0
4,0,1,0,7,2,1,0,3,2,1,0,0,3,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,2,0,0
819,0,0,10,7,2,1,1,0,2,1,0,0,0,0,0,2,0,0
820,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,2,0,0
821,0,0,10,7,2,1,1,0,2,1,2,0,0,0,0,2,0,0
822,1,0,8,0,3,1,6,0,0,1,0,2,3,0,0,3,18,4

In [51]:
y

      Price
0     34649
1     38999
2     39999
3     69990
4     26990
..      ...
818  135990
819  144990
820  149990
821  142990
822   57490

[802 rows x 1 columns]

In [52]:
from sklearn.svm import SVC ,SVR
sr = SVR()
sr.fit(x_train, y_train)

c:\Users\Sooja\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()